<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lists</key>
	<dict>
		<key>宠物</key>
		<array>
			<string>pet1</string>
			<string>pet2</string>
		</array>
		<key>背景</key>
		<array>
			<string>background1</string>
			<string>background2</string>
		</array>
		<key>帽子</key>
		<array>
			<string>hat1</string>
			<string>hat2</string>
		</array>
		<key>脸饰</key>
		<array>
			<string>facemark1</string>
			<string>facemark2</string>
		</array>
		<key>心情</key>
		<array>
			<string>mood1</string>
			<string>mood2</string>
		</array>
		<key>鼻子</key>
		<array>
			<string>nose1</string>
			<string>nose2</string>
		</array>
		<key>眼镜</key>
		<array>
			<string>glasses1</string>
			<string>glasses2</string>
		</array>
		<key>手势</key>
		<array>
			<string>gesture1</string>
			<string>gesture2</string>
		</array>
		<key>嘴巴</key>
		<array>
			<string>mouth1</string>
			<string>mouth2</string>
		</array>
		<key>眼眉</key>
		<array>
			<string>eyebrow1</string>
			<string>eyebrow2</string>
		</array>
		<key>眼睛</key>
		<array>
			<string>eye1</string>
			<string>eye2</string>
		</array>
		<key>衣服</key>
		<array>
			<string>clothing1</string>
			<string>clothing2</string>
		</array>
		<key>胡子</key>
		<array>
			<string>mustache1</string>
			<string>mustache2</string>
		</array>
		<key>头发</key>
		<array>
			<string>hair1-2</string>
			<string>hair2-4</string>
		</array>
		<key>头发女</key>
		<array>
			<string>hairG1-2</string>
			<string>hairG2-7</string>
		</array>
		<key>脸型</key>
		<array>
			<string>face1</string>
			<string>face2</string>
		</array>
	</dict>
	<key>catalog1</key>
	<array>
		<string>脸型</string>
		<string>头发</string>
		<string>胡子</string>
		<string>衣服</string>
		<string>眼睛</string>
		<string>眼眉</string>
		<string>嘴巴</string>
		<string>手势</string>
		<string>眼镜</string>
		<string>鼻子</string>
		<string>心情</string>
		<string>脸饰</string>
		<string>帽子</string>
		<string>背景</string>
		<string>宠物</string>
	</array>
	<key>catalog1000</key>
	<array>
		<string>脸型</string>
		<string>头发女</string>
		<string>胡子</string>
		<string>衣服</string>
		<string>眼睛</string>
		<string>眼眉</string>
		<string>嘴巴</string>
		<string>手势</string>
		<string>眼镜</string>
		<string>鼻子</string>
		<string>心情</string>
		<string>脸饰</string>
		<string>帽子</string>
		<string>背景</string>
		<string>宠物</string>
	</array>
</dict>
</plist>
