<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lists</key>
	<dict>
		<key>宠物</key>
		<array/>
		<key>背景</key>
		<array/>
		<key>帽子</key>
		<array/>
		<key>脸饰</key>
		<array/>
		<key>心情</key>
		<array/>
		<key>鼻子</key>
		<array/>
		<key>眼镜</key>
		<array/>
		<key>手势</key>
		<array/>
		<key>嘴巴</key>
		<array/>
		<key>眼眉</key>
		<array/>
		<key>眼睛</key>
		<array/>
		<key>衣服</key>
		<array/>
		<key>胡子</key>
		<array>
			<string>12</string>
			<string>13</string>
			<string>11</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
		</array>
		<key>头发</key>
		<array/>
		<key>脸型</key>
		<array>
			<string>11</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>10</string>
			<string>1</string>
			<string>9</string>
			<string>8</string>
			<string>7</string>
		</array>
	</dict>
	<key>catalog</key>
	<array>
		<string>脸型</string>
		<string>头发</string>
		<string>胡子</string>
		<string>衣服</string>
		<string>眼睛</string>
		<string>眼眉</string>
		<string>嘴巴</string>
		<string>手势</string>
		<string>眼镜</string>
		<string>鼻子</string>
		<string>心情</string>
		<string>脸饰</string>
		<string>帽子</string>
		<string>背景</string>
		<string>宠物</string>
	</array>
</dict>
</plist>
